/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #d2e3e0;
	text-align: center;
	line-height: 1.4em;
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.box{
	border-radius: 10px;
	background-color:#ffff;
	width: 70%;
	box-shadow: -1px 3px 35px -5px rgba(0,0,0,0.75);
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
	color: #2574A9;
}
